@charset "UTF-8";

/*Transição da opacidade dos elementos*/

/*Ao entrar altera a opacidade.*/
@-webkit-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
	0% { opacity: 0;}
	100% { opacity: 1; }
}

@-o-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

/*Ao sair altera a opacidade.*/
@-webkit-keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

@-moz-keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

@-o-keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes fadeout {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

/*Ao entrar altera a opacidade
  e retorna para o esta do anterior. */
@-webkit-keyframes fadeInOut {
	0% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 0; }

@-moz-keyframes  fadeInOut {
	0% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 0; }
}

@-o-keyframes  fadeInOut {
	0% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes  fadeInOut {
	0% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 0; }
}